<h1>List of users</h1>
<form>
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">
  <button>Add user</button>
</form>
<hr>
<table border="1">
  <tbody>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tbody>
</table>
